.container{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(1,100px);
    gap: 10px;
    justify-content: space-between;
    height: 100vh;
    align-items: end;
    
    

    /* grid-template-columns: 10% 80% 10%  ; */

}




.container div{
    background-color: green;
    border: 1px solid black     ;
}


