/* .main{
    height: 100px;
     width: 70%;
     background-color: grey;
     display: flex;
     justify-content: space-between ;
     padding: 10px;
     align-items: center;

}
.box{
    margin: auto;
    margin-top: 50px;
    height: 160px;
    width: 160px;
    background-color: green;
    box-shadow: 10px 10px 10px green , -10px -10px 10px green;
    border: 2px solid black;
    outline: 4px solid red;
    outline-offset: 2px;
} */


/* .show{
    display: none;
}
.h:hover .show{
    display: block;
}

.sh{
    display: none;
    border: 2px solid black;
}

li{
    border: 1px solid gray;
}
.link:hover .sh{
         display: block;
} */

.para::first-line{
    color: red;
}


.xyz::first-letter{
    color: green;
}

li::marker{
    color: red;
}
/* 

.main .y{
    color: red;
} */

.main >  .x{
    color: red;
}


.x ~ div{
    color: red;
}

