button {
    background-color:blue;
    margin: 23px;
    height: 50px;
    width: 100px;
    color: white;
    border-radius: 20px;

     /* transform: translate(200px,200px); */

      /* transform: rotate(90deg); */

      /* transform: scale(3,3); 

      transform: skew(20deg,20deg); */

      transform: matrix(2,0.5,0.5,2,0,0);
      

}



img{
    width : 100%;
    border-radius: 15px;
    /* filter: blur(4px); */
    /* filter: grayscale(1); */
    /* filter: drop-shadow(30px,30px,10px,red); */
}

.container{
    position: relative;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: xx-large;
    
}