/* .xyz{
    font-size: xx-large;
    width: 200px;
    height: 200px;
    background-color: red;
    border: 1px solid black;
}

.abc{
      display: flex;
      height: 100vh;
      gap: 10px;
}

pre{
    width: 100px;
    height: 100px;
    background-color: yellow;
     overflow: scroll;
    
} */
/* 

span{
    background-color: red;
    display: block;
}
p{
    background-color: blue;
    display: inline;
}

div{
    background-color: aqua;
}
h1{
    display: inline-block;
}
i{
    height: 30px;

} */


div{
    height: 300px;
    width: 300px;
    background-color: aqua;
    box-shadow: 20px 20px 5px rgb(210, 56, 56);

}