/* 

div{
    background-color:green;
    height: 200px;
    width: 200px;
    /* border-radius: 50%; */
    /* border-radius: 20px 5px 15px 0px; */
    /* border-radius: 50px 20px;
}
p{
  background-color: yellow;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
}
p{ */
    /* padding: 100px; */
    /* padding-left: 10px;
    padding-right: 12px;
}  */ 

/* .a{
    margin-right: 100px;
}
.b{
    margin-left: 100px;
} */

/* div{
    width: 300px;
    background-color: gray;
    padding: 25px;
    box-sizing:content-box;
} */

/* div{
    background-color: gray;
    height: 100px;
    width: 90%;
} */

/* .abc{
    height: 10px;
    width: 10px;
}
.xyz{
    background-color: gray;
    height: 30vh;
    width: 40vw;
} */

div{
    background-color: gray;
    text-align: center;
   
}