/* @import "tailwindcss"; */

header{
    text-align: center;
}

/* input{
    width: 60%;
    height: 40px;
    font-size: larger;
    border-radius: 30px;
    padding-left: 10px;
    border: 1px solid black;
    outline: 1px solid green;
    outline-offset: 1px;
    box-shadow: 3px 3px 3px black;
    
    
} */
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.item-container{
    width: 90%;
    outline:2px solid black;
    margin-top: 6px;
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    justify-content: space-between;
    cursor: pointer;
}
.item-container:hover{
    outline-offset: 3px;

}
.item-img{
    height: 40px;
}
.item-desc{
    display: flex;
    align-items: center;
}


.loading{
    text-align: center;
    font-size: x-large;
    color: red;
}

.todo-input{
    height: 40px;
    width: 300px;
    border-radius: 15px;
    padding-left: 5px;
}

.todo-btn{
    margin-left: 20px;
    height: 40px;
    width: 60px;
    cursor: pointer;
    background-color: rgb(72, 215, 72);
    border-radius: 5px;
}

.upper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-name {
    font-size: larger;
    margin-right: px;
}

.todo{
    display: flex;
    width: 40% ;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 10px;

}

.check{
    text-decoration: line-through;
}

img{
    height:15px;
}