header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
}
.head{
    padding: 1px;
    width: 250px;
    background-color:#e8e5e480;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    height: 40px;

}
.head button {
  
    padding-left: 10px;
    padding-right: 10px;
    height: 70%;
    height: 80%;
    border-radius: 20px;
    border:none;
    width :31%;
    
}
.active-head{
    background-color: white;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
}
.hero div{
    height: 40vh;
    width: 40vw;
 
}
.hero-text{
    font-size: xxx-large;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.hero-btn button{
    padding: 7px;
    background-color: #e8e5e480;
    border:none ;
    border-radius: 10px;
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.dis-img{
    width: 96vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.img-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.dim{
    width: 40vw;
    height: 50vh;
    border-radius: 20px;
    cursor: pointer;
}
.fsay{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fi{
    font-size: xx-large;
    font-weight: 600;
}
.si{
    font-size: xxx-large;
    font: 600;
    color:gray
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul{
    list-style: none;
    display: flex;
    width: 15vw;
    justify-content: space-evenly;
    font-family:Arial, Helvetica, sans-serif;
    color: gray;

}