@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Rubik+Gemstones&display=swap');

*{
    font-family: "Outfit", sans-serif;
}
header{
   
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    

}
.head-top{
        font-size: larger;
        font-weight: 600;
        letter-spacing: 2px;
        width: 30%;
        

}
.head-top:hover{
    scale: 1.05;
    cursor: pointer;
}
header ul{
    display: flex;
    gap: 30px;
    list-style: none;
  
}
header ul li{
      padding: 5px;
}
header ul li:hover{
    cursor: pointer;
    background-color: rgb(130, 248, 130);
  
    border-radius: 10px;
}

.btn-1{
    background-color: white;
    border: 3px solid green;
    height: 30px;
    width: 80px;
    font-size: medium;
    font-weight: 400;
    color: green;
    border-radius: 3px;
}

.btn-1:hover{
    background-color: green;
    color: black;
}

.btn-2{
    height: 30px;
    width: 90px;
    background-color: green;
    border: 3px solid green;
    border-radius: 3px;
    font-weight: 400;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}
.top-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    gap: 20px;
}
.adv{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;     
}
.adv p{
    font-size: xx-large;
    font-weight: 500;
    font-family: fantasy;
}

.prem{
    height: 75vh;
    width: 85vw;
   
    display: flex;
    justify-content: space-evenly;
}
.prem1, .prem2{
    
    height: 67vh;
    width: 25vw;
    
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    
}
.tick{
    color: green;
    font-weight: 600;
}
.prem-btn{
    background-color: green;
    width: 20vw;
    height: 40px;
    border-radius: 10px;
    font-size: large;
    font-weight: 500;
    color: white;
}
.prem2{
    box-shadow: 5px 5px 30px greenyellow , -5px -5px 30px  greenyellow;
    outline: 2px solid green;
    outline-offset: 2px;
}

.container-blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 70vw;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 10px gray , -2px  -2px 10px gray;

}

.lists{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.grow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
   
}
.box{
    background-color: rgb(214, 225, 229);
    height: 28vh;
    width: 72%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.box-text{
    font-size: x-large;
    
}

.box-btn{
    background-color: green;
    width: 140px;
    height: 50px;
    color: white;
    font-size: large;
    border-radius: 5px;
    border: 2px solid green;
}