
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: orange;
      padding: 20px;
      font-size: large;
    }

    .poster img {
      width: 500px;
      border-radius: 20px;
      outline: 1px solid orange;
      outline-offset: 2px;
    }
    .poster {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 500px;
      font-size: x-large;
      font-weight: 600;
    }
    header div ul {
      display: flex;
      list-style: none;
      gap: 20px;
    }
    .items {
      height: 200px;
      width: 250px;
      text-align: center;
      border-radius: 5px;
      box-shadow: 5px 5px 5px orange;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .ques{
        display: flex;
        justify-content: space-evenly;

    }
    .head{
        font-size: x-large;
        font-weight: 400;
        color:orange;
    }
    .body{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    footer{
        display: flex;
        height: 200px;
        justify-content: space-between;
        background-color: orange;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px;

    }

    @media  screen and (max-width : 600px) {

      header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: orange;
      padding: 20px;
      font-size: large;
      
    }

    .poster img {
      width: 500px;
      border-radius: 20px;
      outline: 1px solid orange;
      outline-offset: 2px;
    }
    .poster {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 500px;
      font-size: x-large;
      font-weight: 600;
    }
   
    header div ul {
      display: flex;
      list-style: none;
      gap: 20px;
    }
    .items {
      height: 200px;
      width: 300px;
      text-align: center;
      border-radius: 5px;
      box-shadow: 5px 5px 5px orange;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
    }
    .ques{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .head{
        font-size: x-large;
        font-weight: 400;
        color:orange;
    }
    .body{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    footer{
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
        background-color: orange;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px;

    }
    footer div{
      height: 100px ;
      display: flex;
      justify-content: center;
      align-items: center;
    }
       
    }
  